<div class="spinner-overlay"  *ngIf="_show_spinner">
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
</div>

<div class="cont container-fluid d-flex justify-content-between">
<div class="p-2" style="height: 100vh; width: 200px;">
    <app-navside (moduloSeleccionado)="recibirModuloSeleccionado($event)">
    </app-navside>
</div>
<div class="p-2 w-100 " style="height: 100vh; overflow-y: auto;">
    <div class="titlehead">
        <div class="imagen-perfil"
             [style]=" 'background-image: url('+imagenPerfil+');'"
             id="imperfil">
        </div>
        <div>{{nombreUsuario}}</div>
        <div><i [class]="'pi ' + icon" ></i> &nbsp; {{moduleName}}</div>
    </div>
    <app-perfil *ngIf="view_perfil" (imagenPerfilEmit)="recibirImagenPerfil($event)"></app-perfil>
    <app-taskmanager *ngIf="view_task_manager"></app-taskmanager>
    <app-cursos *ngIf="view_cursos"></app-cursos>
    <app-estudiantes *ngIf="view_estudiantes"></app-estudiantes>
    <app-crono-cursos *ngIf="view_calendar"></app-crono-cursos>
</div>
</div>