<div class="spinner-overlay"  *ngIf="_show_spinner">
    <div class="spinner-container">
        <span class="loader"></span>
    </div>
</div>

<div class="container-fluid p-3">
    <div class="module-works mb-2 d-flex flex-column
                animate__animated animate__bounceIn">
        <div class="p-1 d-flex justify-content-between">
            <span class="text-secondary">
                Crear Áreas educativas:
            </span>
        </div>
        <hr>
        <div>
            <div #myDiagramDiv style="width:400px; height:150px; background-color: #DAE4E4;"></div>
        </div>
    </div>
</div>