<div class="spinner-overlay"  *ngIf="_show_spinner">
    <div class="spinner-container">
        <span class="loader"></span>
    </div>
</div>

<div class="container-fluid p-3">
    <div class="module-works mb-2 d-flex flex-column
                animate__animated animate__bounceIn"
                *ngIf="show_ED">
        <div class="p-1 d-flex justify-content-between">
            <span class="text-secondary">
                {{action_head_ED}} area educativa:
            </span>
        </div>
        <hr>
        <div class="w-100">
            <form [formGroup]="areasEdForm" 
                  class="w-100"
                  (ngSubmit)="submitED()" >
                <div class="d-flex flex-wrap align-items-end">
                    <div class="m-1 col-4">
                        <label class="text-secondary" for="nombreArea">
                            Nombre del area educativa:
                        </label>
                        <input class="input-or form-control form-control-sm"
                               type="text"
                               formControlName="nombreArea"
                               #nombreArea
                               id="nombreArea">
                    </div>
                    <div class="m-1 col-6">
                        <label class="text-secondary" for="descripcion">
                            Descripción:
                        </label>
                        <input class="input-or form-control form-control-sm"
                               type="text"
                               formControlName="descripcion"
                               #descripcion
                               id="descripcion">
                    </div>
                    <div class="m-1 col-2">
                      <label for="idInstitutos" class="text-secondary">
                          Institutos:
                      </label>
                      <select class="inpForms form-select form-select-sm w-100"
                              formControlName="idInstitutos"
                              #idInstitutos
                              id="idInstitutos"
                              aria-label="">
                              <option *ngFor="let institutos of listaDeInstitutos"
                                      [value]="institutos.idintituto">
                                      {{ institutos.nombreInstitucion | titlecase }}
                              </option>
                      </select>
                  </div>
                    <div class="btn-settings p-1 w-100 d-flex justify-content-end">
                        <button type="button" class="btn btn-danger btn-sm d-flex align-items-center"
                                (click)="limpiarED();">
                                <i class="pi pi-times-circle"></i>
                        </button>
                        <button type="submit"
                                class="btn btn-outline-dark btn-sm">
                                <i class="pi pi-save"></i> {{ action_button_ED }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="module-works mb-2 d-flex flex-column
                animate__animated animate__bounceIn"
                *ngIf="show_Mat">
        <div class="p-1 d-flex justify-content-between">
            <span class="text-secondary">
                {{action_head_Mat}} Materias:
            </span>
        </div>
        <hr>
        <div class="w-100">
            <form [formGroup]="materiasForm" 
                  class="w-100"
                  (ngSubmit)="submitMat()" >
                <div class="d-flex flex-wrap align-items-end">
                    <div class="m-1 col-4">
                        <label class="text-secondary" for="nombre">
                            Nombre de la materia:
                        </label>
                        <input class="input-or form-control form-control-sm"
                               type="text"
                               formControlName="nombre"
                               #nombre
                               id="nombre">
                    </div>
                    <div class="m-1 col-6">
                        <label class="text-secondary" for="observacion">
                            Observación:
                        </label>
                        <input class="input-or form-control form-control-sm"
                               type="text"
                               formControlName="observacion"
                               #observacion
                               id="observacion">
                    </div>
                    <div class="m-1 col-2">
                      <label for="idInstitutos" class="text-secondary">
                          Area academica:
                      </label>
                      <select class="inpForms form-select form-select-sm w-100"
                              formControlName="idAreaAcademica"
                              #idAreaAcademica
                              id="idAreaAcademica"
                              aria-label="">
                              <option *ngFor="let acadmica of listaAreaAcademica"
                                      [value]="acadmica.id">
                                      {{ acadmica.nombreArea | titlecase }}
                              </option>
                      </select>
                  </div>
                    <div class="btn-settings p-1 w-100 d-flex justify-content-end">
                        <button type="button" class="btn btn-danger btn-sm d-flex align-items-center"
                                (click)="limpiarMat();">
                                <i class="pi pi-times-circle"></i>
                        </button>
                        <button type="submit"
                                class="btn btn-outline-dark btn-sm">
                                <i class="pi pi-save"></i> {{ action_button_Mat }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="module-works mb-2 d-flex flex-column
                animate__animated animate__bounceIn"
                *ngIf="show_AC">
        <div class="p-1 d-flex justify-content-between">
            <span class="text-secondary">
                {{action_head_AC}} area academica:
            </span>
        </div>
        <hr>
        <div class="w-100">
            <form [formGroup]="areasAcForm" 
                  class="w-100"
                  (ngSubmit)="submitAC()" >
                <div class="d-flex flex-wrap align-items-end">
                    <div class="m-1 col-3">
                        <label class="text-secondary"
                               for="idAreaEducativa">
                               Area educativa:
                        </label>
                        <select class="inpForms form-select w-100"
                                formControlName="idAreaEducativa" #idAreaEducativa id="idAreaEducativa">
                                <option *ngFor="let ared of listaAreaEducativa"
                                        [value]="ared.id">
                                        <span>
                                            {{ared.nombreArea | titlecase}}
                                        </span> 
                                </option> 
                        </select>
                    </div>
                    <div class="m-1 col-3">
                        <label class="text-secondary" for="nombreArea">
                            Nombre del area academica:
                        </label>
                        <input class="input-or form-control form-control-sm"
                               type="text"
                               formControlName="nombreArea"
                               #nombreArea
                               id="nombreArea">
                    </div>
                    <div class="m-1 col-4">
                        <label class="text-secondary" for="descripcion">
                            Observación:
                        </label>
                        <input class="input-or form-control form-control-sm"
                               type="text"
                               formControlName="descripcion"
                               #descripcion
                               id="descripcion">
                    </div>
                    <div class="btn-settings p-1 w-100 d-flex justify-content-end">
                        <button type="button" class="btn btn-danger btn-sm d-flex align-items-center"
                                (click)="limpiarAC(); ">
                                <i class="pi pi-times-circle"></i>
                        </button>
                        <button type="submit"
                                class="btn btn-outline-dark btn-sm">
                                <i class="pi pi-save"></i> {{ action_button_AC }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="module-works mb-2 d-flex flex-column
                animate__animated animate__bounceIn">
        <div class="p-1 d-flex justify-content-between">
            <div>
                <span class="text-secondary">
                    Areas educativas creadas:
                </span>
            </div>
            <div class="d-flex">
                <button class="btn btn-outline-dark d-flex justify-content-between align-items-center"
                        (click)="show_ED = !show_ED"> 
                    <mat-icon>add_circle</mat-icon> Crear area educativa
                </button>
                &nbsp;
                <button class="btn btn-outline-dark d-flex justify-content-between align-items-center"
                        (click)="show_AC = !show_AC">
                    <mat-icon>add_circle</mat-icon> Crear area academica
                </button>
                &nbsp;
                <button class="btn btn-outline-dark d-flex justify-content-between align-items-center"
                        (click)="show_Mat = !show_Mat">
                    <mat-icon>add_circle</mat-icon> Crear materia
                </button>
            </div>
        </div>
        <hr>
        
        <div class="tree">
          <ul class="pl-0" >
            <li *ngFor="let areaEducativa of listaAreaUnida">
              <span class="area-educativa d-flex justify-content-start align-items-center">
                <div class="icon-menu-vert" [matMenuTriggerFor]="educativaMenu" >
                  <mat-icon>more_vert</mat-icon>
                </div>
                &nbsp;
                <div>{{ areaEducativa.nombreArea }}</div>
              </span>
              <mat-menu #educativaMenu="matMenu">
                <button mat-menu-item (click)="catchDataED(areaEducativa)">
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button mat-menu-item *ngIf="areaEducativa.areasAcademicas.length == 0" (click)="EliminarAreaEducativa(areaEducativa.id)">
                  <mat-icon>delete</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>
              <ul class="pl-0" >
                <li *ngFor="let areaAcademica of areaEducativa.areasAcademicas; let i = index">
                  <span class="area-academica d-flex justify-content-start align-items-center">
                    <div class="icon-menu-vert" [matMenuTriggerFor]="academicaMenu">
                      <mat-icon>more_vert</mat-icon>
                    </div>
                    &nbsp;
                    <div>{{ areaAcademica.nombreArea }}</div>
                  </span>
                  <mat-menu #academicaMenu="matMenu">
                    <button mat-menu-item (click)="catchDataAC(areaAcademica)">
                      <mat-icon>edit</mat-icon>
                      <span>Editar</span>
                    </button>
                    <button mat-menu-item *ngIf="areaAcademica.materias.length == 0" (click)="EliminarAreaAcademica(areaAcademica.id, i)">
                      <mat-icon>delete</mat-icon>
                      <span>Eliminar</span>
                    </button>
                  </mat-menu>
                  <ul class="pl-0">
                    <li *ngFor="let materia of areaAcademica.materias; let j = index">
                      <span class="materia d-flex justify-content-start align-items-center">
                        <div class="icon-menu-vert" [matMenuTriggerFor]="materiaMenu">
                          <mat-icon>more_vert</mat-icon>
                        </div>
                        &nbsp;
                        <div>{{ materia.nombre }}</div>
                      </span>
                      <mat-menu #materiaMenu="matMenu">
                        <button mat-menu-item (click)="catchDataMat(materia)">
                          <mat-icon>edit</mat-icon>
                          <span>Editar</span>
                        </button>
                        <button mat-menu-item (click)="eliminarMateria(materia.id, j)">
                          <mat-icon>delete</mat-icon>
                          <span>Eliminar</span>
                        </button>
                      </mat-menu>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        
          
    </div>
</div>

