<div class="spinner-overlay"  *ngIf="_show_spinner">
    <div class="spinner-container">
        <span class="loader"></span>
    </div>
</div>

<div class="container-fluid p-3">

    <div class="module-works mb-2 d-flex flex-column animate__animated animate__bounceIn">
        <div class="p-1 d-flex justify-content-between" >
            <span class="text-secondary">
                Crear profesores:
            </span>
            <div class="enlace">
                <button class="btn btn-primary btn-sm d-flex align-items-center" >
                    <mat-icon>link</mat-icon> Compartir enlace 
                </button>
            </div>
          </div>
        <hr>
        <div>
        
        </div>
    </div>

</div>