<div class="spinner-overlay"  *ngIf="_show_spinner">
    <div class="spinner-container">
        <span class="loader"></span>
    </div>
</div>



<div class="container-fluid p-3">
    
    <div class="title module-works mb-2" *ngIf="show_no_administrer" >

        <span class="fs-4 d-flex justify-content-between" >
            <span> FORMULARIO DE REGISTRO PARA EL CURSO DE </span> <span class="text-primary" > <strong> " {{curso_detect | uppercase }} " </strong> </span> 
        </span>
    </div>
    <div class="title module-works mb-2" *ngIf="show_no_administrer" >

        <div class="fs-5 d-flex justify-content-between">
            <span> Detalles técnicos: </span>
            <span class="text-secondary" style="font-size: 13pt;"> Fecha fin de la inscripción: <strong class="text-primary"> {{ fechainscripFin_curso | date: 'dd-MM-yyyy' }} </strong> </span>
            <span class="text-secondary" style="font-size: 13pt;">
                <span class="text-secondary" style="font-size: 13pt;"> Tiempo en días - horas - minutos - segundos: <strong class="text-primary">{{ tiempoRestante }}</strong></span>
            </span>
        </div>
        <hr>
        <div class="p-2 shadow rounded-1 " style="border: dashed 1px gray; background-color: rgb(56, 56, 56);">
            <div class="text-light p-1 fs-6 mb-1" style="border-bottom: solid 1px rgb(200, 200, 200);">
                <span> Modalidad del curso: </span> 
                <span class="text-warning">
                    <strong>{{ modalidad_curso | uppercase }}</strong>
                </span>
            </div>
            <div class="text-light p-1 fs-6 mb-1" style="border-bottom: solid 1px rgb(180, 180, 180);">
                <span> Institución: </span>
                <span class="text-warning">
                    <strong>{{ institucion_curso | uppercase }}</strong>
                </span>
            </div>
            <div class="text-light p-1 fs-6 mb-1" style="border-bottom: solid 1px rgb(180, 180, 180);">
                <span>Fecha inicio del curso: </span>
                <span class="text-warning">
                    <strong> {{ fechaini_curso | date: 'dd-MM-yyyy' }} </strong>
                </span>
            </div>
            <div class="text-light p-1 fs-6 mb-1" style="border-bottom: solid 1px rgb(180, 180, 180);">
                <span>Fecha final del curso: </span> <span class="text-warning">
                <strong> {{ fechafin_curso | date: 'dd-MM-yyyy' }} </strong> </span>
            </div>
            <div class="text-light p-1 fs-6 mb-1" style="border-bottom: solid 1px rgb(180, 180, 180);">
                <span>Hora inicial del curso: </span>
                <span class="text-warning">
                    <strong> {{ horaInicial_curso }} </strong>
                </span>
            </div>
            <div class="text-light p-1 fs-6 mb-1" style="border-bottom: solid 1px rgb(180, 180, 180);">
                <span>Hora final del curso: </span>
                <span class="text-warning">
                    <strong> {{ horafinal_curso }} </strong> 
                </span>
            </div>
        </div>
    
    </div>

    <div class="module-works mb-2 d-flex flex-column animate__animated animate__bounceIn">
        <div class="p-1 d-flex justify-content-between" *ngIf="show_administrer">
            <span class="text-secondary">
                Crear estudiante:
            </span>
            <div class="enlace">
                <button class="btn btn-primary btn-sm d-flex align-items-center" (click)="redirectToForm()">
                    <mat-icon>link</mat-icon> Compartir enlace 
                </button>
            </div>
          </div>
        <hr *ngIf="show_administrer">
        <div>
           <form [formGroup]="estudianteForm" 
                 (ngSubmit)="submit()">
                <div class="d-flex flex-column">
                    <div class="m-1 col">
                        <label class="text-secondary"
                               for="nombre">
                               Escoge un curso para añadir al estudiante:
                        </label>
                        <select class="inpForms form-select w-100"
                                formControlName="curso" #curso id="curso">
                                <option *ngFor="let curso of listaDeCursos"
                                        [value]="curso.id">
                                        <span>
                                            {{curso.nombre | titlecase}}
                                        </span>
                                        &nbsp; / &nbsp;
                                        <small class="text-secondary">
                                             {{curso.nombreInstitucion | titlecase}}
                                        </small>
                                </option> 
                        </select>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="m-1 col-4">
                            <label class="text-secondary" for="nombre">
                                Nombres del estudiante:
                            </label>
                            <input class="input-or form-control form-control-sm"
                                   type="text"
                                   formControlName="nombre"
                                   #nombre
                                   id="nombre">
                        </div>
                        <div class="m-1 col-2">
                            <label class="text-secondary" for="cedula">
                                Cédula:
                            </label>
                            <input class="input-or form-control form-control-sm"
                                   type="text"
                                   formControlName="cedula"
                                   #cedula
                                   id="cedula">
                        </div>
                        <div class="m-1 col-1">
                            <label class="text-secondary" for="edad">
                                Edad:
                            </label>
                            <input class="input-or form-control form-control-sm"
                                   type="number"
                                   formControlName="edad"
                                   #edad
                                   id="edad">
                        </div>
                        <div class="m-1 col-2">
                            <label class="text-secondary" for="telefono">
                                Telefono:
                            </label>
                            <input class="input-or form-control form-control-sm"
                                   type="text"
                                   formControlName="telefono"
                                   #telefono
                                   id="telefono">
                        </div>
                        <div class="m-1 col-4">
                            <label class="text-secondary" for="email">
                                Email:
                            </label>
                            <input class="input-or form-control form-control-sm"
                                   type="text"
                                   formControlName="email"
                                   #email
                                   id="email">
                        </div>
                    </div>
                </div>
                <div class="m-1 col">
                    <label for="observacion"
                           class="text-secondary">
                           Una breve descripción:
                    </label>
                    <textarea name="observacion"
                              class="form-control form-control-sm"
                              #observacion
                              formControlName="observacion"
                              id="observacion" rows="2">
                    </textarea>
                </div>
                <div class="btn-settings p-1 w-100 d-flex justify-content-end">
                    <button type="button" class="btn btn-danger btn-sm d-flex align-items-center"
                            (click)="limpiar(); cancel();">
                            <mat-icon>cancel</mat-icon>
                    </button>
                    <button type="submit"
                            class="btn btn-outline-dark btn-sm">
                            <i class="pi pi-save"></i> {{ action_button }} Estudiante
                    </button>
                </div>
           </form>
        </div>
    </div>

    <div class="module-works" *ngIf="show_administrer" >

        
        <div class="d-flex justify-content-between">
            <div class="title d-flex align-items-center p-2">
                <mat-icon>cast_for_education</mat-icon> &nbsp; <div class="fs-5"> Cursos creados </div>
                <strong class="fs-6">({{listaDeCursos.length}})</strong>
            </div>
            <!-- <div class="mb-2 d-flex w-50">
                <input class=" w-100 shadow-sm form-control rounded-pill" 
                       fxFlex="auto" type="text"
                       formControlName="filterEstud"
                       #filterEstud
                       (keyup)=""
                       #input placeholder="Búsqueda de nombre y tipo de asistencia...">
            </div> -->
            <div class="mb-2 d-flex w-50">
                <form [formGroup]="filterForm" class="w-100">
                    <input class=" w-100 shadow-sm form-control rounded-pill"
                           fxFlex="auto"
                           type="text"
                           formControlName="filterEstud"
                           #filterEstud
                           id="filterEstud"
                           (keyup)="filterEstudiante()"
                           placeholder="Búsqueda de localidades...">
                </form>
            </div>
        </div>
        
        <div class="table-responsive">
            <table class="table table-secondary align-middle" >
                <thead class="bg-dark text-light" >
                    <th>
                        Nombre Estudiante
                    </th>
                    <th>
                        Cédula
                    </th>
                    <th>
                        Celular
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Curso
                    </th>
                    <th>
                        
                    </th>
                </thead>
                <tbody>
                    <tr  *ngFor="let estudiante of listaEstudiantes; let i = index;"  >
                        <td *ngIf=" estudiante.campoB != 'inactivo'">
                            {{estudiante.nombreEstudiante}}
                        </td>
                        <td *ngIf=" estudiante.campoB != 'inactivo'">
                            {{estudiante.cedula}}
                        </td>
                        <td *ngIf=" estudiante.campoB != 'inactivo'">
                            {{estudiante.telefonoEstudiante}}
                        </td>
                        <td *ngIf=" estudiante.campoB != 'inactivo'">
                            {{estudiante.emailEstudiante}}
                        </td>
                        <td *ngIf=" estudiante.campoB != 'inactivo'">
                            <div class="d-flex flex-column">
                                <span>
                                    {{estudiante.nombreCurso}}
                                </span>
                                <small class="text-secondary">
                                    {{ estudiante.nombreInstitucion }}
                                </small>
                            </div>
                        </td>
                        <td *ngIf=" estudiante.campoB != 'inactivo' ">
                            <div class="d-flex">
                                <div class="button-icon shadow-sm" (click)="catchData(estudiante)">
                                    <mat-icon>edit</mat-icon>
                                </div>
                                <div class="button-icon shadow-sm" (click)="eliminarEstudiante(estudiante.codigoEstudiante, i)">
                                    <mat-icon>delete</mat-icon>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>