<div class="spinner-overlay"  *ngIf="_show_spinner">
    <div class="spinner-container">
        <span class="loader"></span>
    </div>
</div>
<div class="container-fluid p-3">
    
    <div class="module-works mb-2 d-flex flex-column animate__animated animate__bounceIn"
         *ngIf="_institutos">
        <div class="p-1">
             <span class="text-secondary">
                 Crear una institución:
             </span>
        </div>
        <hr>
        <div>
            <form [formGroup]="institucionForm" (ngSubmit)="submit()">
                <div class="d-flex flex-wrap">
                    <div class="m-1 col-2">
                        <label class="text-secondary" for="nombreInstitucion"> 
                            Nombre de la Institucion:
                        </label>
                        <input class="input-or form-control form-control-sm"
                               type="text"
                               formControlName="nombreInstitucion"
                               #nombreInstitucion
                               id="nombreInstitucion">
                    </div>
                    <div class="m-1 col-2">
                        <label class="text-secondary" for="ruc">
                            R.U.C.:
                        </label>
                        <input class="input-or form-control form-control-sm"
                               type="text"
                               formControlName="ruc"
                               #ruc
                               id="ruc">
                    </div>
                    <div class="m-1 col-2">
                        <label class="text-secondary" for="encargado">
                            Encargado administrativo:
                        </label>
                        <input class="input-or form-control form-control-sm"
                               type="text"
                               formControlName="encargado"
                               #encargado
                               id="encargado">
                    </div>
                    <div class="m-1 col-2">
                        <label class="text-secondary" for="numeroTelefono">
                            Número de teléfono:
                        </label>
                        <input class="input-or form-control form-control-sm"
                               type="text"
                               formControlName="numeroTelefono"
                               #numeroTelefono
                               id="numeroTelefono">
                    </div>
                    <div class="m-1 col-2">
                        <label class="text-secondary" for="celular">
                            Celular:
                        </label>
                        <input class="input-or form-control form-control-sm"
                               type="text"
                               formControlName="celular"
                               #celular
                               id="celular">
                    </div>
                </div>
                <div class="m-1 col">
                    <label for="descripcion"
                           class="text-secondary">
                           Una descripción sobre la institución
                    </label>
                    <textarea name="descripcion"
                              class="form-control form-control-sm"
                              #descripcion
                              formControlName="descripcion"
                              id="descripcion" rows="2">
                    </textarea>
                </div>
                <div class="btn-settings p-1 w-100 d-flex justify-content-end">
                    <button type="button" class="btn btn-danger btn-sm d-flex align-items-center"
                            (click)="limpiar()">
                            <mat-icon>cancel</mat-icon>
                    </button>
                    <button type="submit"
                            class="btn btn-outline-dark btn-sm">
                            <i class="pi pi-save"></i> {{ action_button }} institución
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="subworks w-100 d-flex justify-content-between mt-2">
        <div class="wbox bg-light">
            <div class="d-flex flex-column">                
                <div class="fs-5 d-flex align-items-center justify-content-between">
                    <div class="title">
                        <mat-icon>factory</mat-icon> Instituciones creadas
                        <strong class="fs-6">({{listaDeInstitutos.length}})</strong>
                    </div>
                    <div class="mb-2 d-flex w-50">
                        <input class=" w-100 shadow-sm form-control rounded-pill" 
                               fxFlex="auto" type="text"
                               [(ngModel)]="filterInitit"
                               (keyup)="filterInstitutos()" 
                               #input placeholder="Búsqueda de nombre y tipo de asistencia...">
                    </div>
                    <div class="button-icon shadow-sm"
                         matTooltip="Crea la información de la institución para poder acceder a las demás características de la aplicación."
                         (click)="_institutos = !_institutos;">
                         <mat-icon>add</mat-icon> 
                    </div>                    
                </div>
                <small class="text-secondary"> Aquí podrá ver las instituciones creadas </small>
            </div>
            <div class="body-data">

            
            <div class="lista-institucion p-1 d-flex justify-content-between align-items-center"
                 *ngFor="let lista of listaDeInstitutos; let i = index;">
                 <div class="d-flex align-items-center">
                    <div [style]="'background-image: url( '+this.imagenInstituto+lista.logtipourl+' )' " class="icono" ></div> &nbsp;&nbsp;
                    <div>
                        <span> {{ lista.nombreInstitucion | uppercase }} </span>
                        <br>
                        <small class="text-secondary d-flex align-items-center"> 
                            <div class="d-flex align-items-center" ><mat-icon> person </mat-icon> <span> {{ lista.encargado }} </span></div> &nbsp;&nbsp; 
                            <div class="d-flex align-items-center" > <mat-icon>fax</mat-icon> <span> {{ lista.numeroTelefono }} </span></div> &nbsp;&nbsp;
                            <div class="d-flex align-items-center" > <mat-icon>smartphone</mat-icon> <span> {{ lista.celular }} </span> </div>
                        </small>
                    </div>
                 </div>
                 <div class="d-flex">
                    <div class="button-icon shadow-sm"
                         matTooltip="Edita la información de la institución."
                         (click)="_institutos = !_institutos; catchData( lista );">
                         <mat-icon>edit</mat-icon>
                    </div>
                    &nbsp;
                    <div class="button-icon shadow-sm"
                         matTooltip="Editar la imagen o logotipo de la institución."
                         (click)="openDialogImagenInstituto(lista)">
                         <mat-icon>image</mat-icon>
                    </div>
                    &nbsp;
                    <div class="button-icon shadow-sm"
                         matTooltip="Crea y configura un curso para esta institución"
                         (click)="openDialogCursos(lista, 0)">
                         <mat-icon>cast_for_education</mat-icon>
                    </div>
                    &nbsp;
                    <div class="button-icon shadow-sm"
                         (click)="eliminarInstituto(lista, i)"
                         matTooltip="Elimina la institución">
                         <mat-icon>delete</mat-icon>
                    </div>
                 </div>
            </div>
        </div>
        </div>
        <div class="wbox bg-light">
            <div class="d-flex justify-content-between">
                <div class="title d-flex align-items-center p-2">
                    <mat-icon>cast_for_education</mat-icon> &nbsp; <div class="fs-5"> Cursos creados </div>
                    <strong class="fs-6">({{listaDeCursos.length}})</strong>
                </div>
                <div class="mb-2 d-flex w-50">
                    <input class=" w-100 shadow-sm form-control rounded-pill" 
                           fxFlex="auto" type="text"
                           [(ngModel)]="filterCli"
                           (keyup)="filterCliente()" 
                           #input placeholder="Búsqueda de nombre y tipo de asistencia...">
                </div>
            </div>
            <small class="text-secondary p-1">
                Aquí podrás ver los cursos creados.
            </small>
            <div class="body-data">
                <ul class="list-group" style="height: 78vh; overflow-y: auto;" >
                    <li *ngFor="let cursos of listaDeCursos; let i = index;"
                        class="list-group-item shadow-sm m-1">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center justify-content-between"  >
                                <div>
                                    <span> <strong> {{cursos.nombre}} </strong> &nbsp;
                                    </span> / <span class="text-primary" > &nbsp; {{ cursos.nombreInstitucion }} </span>
                                </div>
                                <div class="btn-settings d-flex" >
                                    <div class="button-icon shadow-sm" (click)="openDialogCursos(cursos, 1)"
                                         matTooltip="Edita la información del curso.">
                                         <mat-icon>edit</mat-icon>
                                    </div>
                                    <div class="button-icon shadow-sm"
                                         matTooltip="Elimina el curso.">
                                         <mat-icon>delete</mat-icon>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-column">
                                    <small class="text-secondary d-flex justify-content-between m-1">
                                        <span> Fecha apertura de inscripción: </span>
                                        <span class="data-box">
                                            <strong style="color: rgb(255, 204, 0);"> {{ cursos.fechainscripIni | date: 'dd-MM-yyyy' }} </strong>
                                        </span>
                                    </small>
                                    <small class="text-secondary d-flex justify-content-between m-1">
                                        <span> Fecha cierre de inscripción </span>
                                        <span class="data-box">
                                            <strong style="color: rgb(255, 204, 0);" > {{ cursos.fechainscripFin | date: 'dd-MM-yyyy' }} </strong>
                                        </span>
                                    </small>
                                    <small class="text-secondary d-flex justify-content-between m-1">
                                        <span> Fecha inicial del curso: </span>
                                        <span class="data-box">
                                            <strong style="color: rgb(140, 255, 0);" > {{ cursos.fechaini | date: 'dd-MM-yyyy' }} </strong>
                                        </span>
                                    </small>
                                    <small class="text-secondary d-flex justify-content-between m-1">
                                        <span> Fecha final del curso: </span>
                                        <span class="data-box">
                                            <strong style="color: rgb(140, 255, 0);" > {{ cursos.fechafin | date: 'dd-MM-yyyy' }} </strong>
                                        </span>
                                    </small>
                                    <small  class="text-secondary d-flex justify-content-between m-1">
                                        <span> Horarios: </span>
                                        <span>
                                            <strong> {{ cursos.horaInicial }} - {{ cursos.horaFinal }} </strong>
                                        </span>
                                    </small>
                                </div>
                                <div class="text-secondary d-flex flex-column">
                                    <span> {{ cursos.horaini }} - {{ cursos.horafin }} </span>
                                    <span>  Modalidad de asistencia: <strong class="text-primary"> {{cursos.modalidad}} </strong> </span>
                                    <div class="d-flex align-items-center justify-content-between m-1">
                                        <div>
                                            <span> Días pago: </span>
                                        </div>
                                        <div class="day-box">
                                            <strong style="color: rgb(255, 204, 0);"> {{ cursos.diasFaltantesIncrip }} </strong>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between m-1">
                                        <div>
                                            <span> Días curso: </span>
                                        </div>
                                        <div class="day-box">
                                            <strong style="color: rgb(140, 255, 0);"> {{ cursos.diasFaltantesCurso }} </strong>     
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between m-1">
                                        <div>
                                            <span> Matrícula: </span>
                                        </div>
                                        <div class="">
                                            <strong > $ {{ cursos.valormatricula | number : '1.2-2' }} </strong>     
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between m-1">
                                        <div>
                                            <span> Cuotas: </span>
                                        </div>
                                        <div class="">
                                            <strong > $ {{ cursos.pagoperiodico | number : '1.2-2' }} </strong>     
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>