
/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import '~@angular/material/prebuilt-themes/indigo-pink.css'; // O importa el tema que desees


html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(211, 211, 211); }

.cont {
    height: 100%;
}

label {
    color: white;
}

.titlehead {
    background-color: rgb(24, 43, 83);
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 100%;
    border-radius: 20px;
    padding: 5px;
    background-color: transparent;
}

.login-console {
    width: 100%;
}


.module-works {
    width: 100%;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    border: groove 1px rgb(246, 246, 246);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.wbox {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    border: groove 1px rgb(246, 246, 246);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.imagen-perfil {
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    background-size: 100% 100%;
    border-radius:  10px;
    transition: ease all 1.5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.imagen-perfil:hover {
    transition: ease all 0.5s;
    background-size: 110% 110%;
}


.spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgba($color: #000000, $alpha: 0.4);
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-icon {
    width: 35px;
    height: 35px;
    background-color: #444;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(241, 241, 241);
    transition: ease all 0.5s;
  }

  .button-icon:hover {
    transition: ease all 0.5s;
    color: orange;
    cursor: pointer;
    transform: scale(1.1);
  }

  .loader {
    width: 200px;
    height: 140px;
    background: #979794;
    box-sizing: border-box;
    position: relative;
    border-radius:8px;
    perspective: 1000px;
  }

  .loader:before{
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border-radius:8px;
    background: #f5f5f5  no-repeat;
    background-size: 60px 10px;
    background-image: 	linear-gradient(#ddd 100px, transparent 0) ,
              linear-gradient(#ddd 100px, transparent 0), 
              linear-gradient(#ddd 100px, transparent 0), 
              linear-gradient(#ddd 100px, transparent 0), 
              linear-gradient(#ddd 100px, transparent 0), 
              linear-gradient(#ddd 100px, transparent 0);
    
    background-position: 15px 30px , 15px 60px , 15px 90px, 
              105px 30px , 105px 60px , 105px 90px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
  }
  .loader:after {
    content: '';
      position: absolute;
      width: calc(50% - 10px);
      right: 10px;
      top: 10px;
      bottom: 10px;
      border-radius: 8px;
      background: #fff no-repeat;
      background-size: 60px 10px;
      background-image: linear-gradient(#ddd 100px, transparent 0), 
              linear-gradient(#ddd 100px, transparent 0), 
              linear-gradient(#ddd 100px, transparent 0);
      background-position: 50% 30px ,50% 60px , 50%  90px;
      transform: rotateY(0deg );
      transform-origin: left center;
    animation: paging 1s linear infinite;
  }


  @keyframes paging {
    to {
      transform: rotateY( -180deg );
    }
  }


.icono {
    width:  45px;
    height: 45px;
    background-size: 100% 100%;
    border-radius: 10%;
    background-repeat: no-repeat;
}


/* Cambiar el fondo del mat-stepper */
.mat-stepper {
  background-color: #ffffff; /* Cambia el color de fondo a tu preferencia */
}

/* Cambiar el color del texto dentro del mat-stepper */
.mat-step-label {
  color: #000000; /* Cambia el color del texto a tu preferencia */
}

/* Cambiar el fondo del mat-step activo */
.mat-step-header[aria-selected="true"] {
  background-color: #b8b8b8; /* Cambia el color de fondo a tu preferencia */
}

/* Cambiar el color del texto del mat-step activo */
.mat-step-header[aria-selected="true"] .mat-step-label {
  color: #1d1d1d; /* Cambia el color del texto a tu preferencia */
}

/* Cambiar el fondo de los botones del mat-stepper */
.mat-stepper-horizontal .mat-stepper-horizontal-line {
  background-color: #d9d9d9; /* Cambia el color de fondo a tu preferencia */
}

/* Cambiar el color del texto de los botones del mat-stepper */
.mat-stepper-horizontal .mat-stepper-next,
.mat-stepper-horizontal .mat-stepper-previous {
  color: #ffffff; /* Cambia el color del texto a tu preferencia */
}

/* Cambiar el color del ícono de los botones del mat-stepper */
.mat-stepper-horizontal .mat-stepper-icon {
  color: #ffffff; /* Cambia el color del ícono a tu preferencia */
}
